<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body
        header
            nav
                h4 Than Myat Soe
                ul(id="nav-container")
                    li(class="nav-item") 
                        a Home
                    li(class="nav-item") 
                        a About
                    li(class="nav-item") 
                        a Contact
            div#banner
                div#banner-title
                    h1 Welcome to Than Myat Soe's Projects !
                    p There are projects here. Would you like to ...?
                    input(type="button" value="Get Started !" id="get-btn")
        div#content
        footer
            div.first
                h4 Your Logo
                p.first-white Your Teggine here
                br
                p.orange About Us
                p.first-white We want to help bring talanted students and unique startups together.
                br
                p.orange Contact Us
                span.orange &telrec;
                span.first-white +95 9767917810
                br
                span.orange &mscr;
                span.first-white thanmyatsoe222@gmail.com
            
            div.second
                p.orange Information
                p.white About Us
                    br 
                    p.white More Search
                    p.white Blog
                    p.white Testimonials
                    p.white Events
            div.third
                p.orange Helpful Links
                p.white Services
                    br 
                    p.white Supports
                    p.white Terms & Condition
                    p.white Pravicy & Policy
