<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/main.css">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <h4>Than Myat Soe</h4>
            <ul id="nav-container">
                <li class="nav-item">Home</li>
                <li class="nav-item">About</li>
                <li class="nav-item">Contact</li>
            </ul>
    </div>
    <div id="banner">
        <div id="banner-title">
            <h1>Welcome to Than Myat Soe's Projects !</h1>
            <p>There are projects here. Would you like to ...?</p>
            <input type="button" value="Get Started !" id="get-btn" />
        </div>
    </div>
    <div id="footer">
        <div class="first">
            <h4>Your Logo</h4>
            <p class="first-white">Your Teggine here</p>
            <br>
            <p class="orange"> About Us</p>
            <p class="first-white">We want to help bring talanted students and unique startups together.</p>
            <br>
            <p class="orange">Contact Us</p>
            <span class="orange">&telrec;</span>
            <span class="first-white">+95 9767917810</span ><br>
            <span class="orange">&mscr;</span>
            <span class="first-white">thanmyatsoe222@gmail.com</span>
        </div>
        <div class="second">
            <p class="orange">Information</p>
            <p class="white">
                About Us
                <br> More Search
                <br> Blog
                <br> Testimonials
                <br> Events
                <br>
            </p>
        </div>
        <div class="third">
            <p class="orange">Helpful Links</p>
            <p class="white">
                Services
                <br> Supports
                <br> Terms & Condition
                <br> Pravicy & Policy
            </p>
        </div>
    </div>
</body>

</html>